[;; questions: store round and match results, or derive those every time?
 ;; users
 ;; TODO timestamps
 {:db/ident :user/screenname
  :db/id #db/id [:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db.install/_attribute :db.part/db}

 ;; matches
 {:db/ident :match/num
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Match # among all matches"
  :db.install/_attribute :db.part/db}

 {:db/ident :match/magepunchers
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Users in the match"
  :db.install/_attribute :db.part/db}

 {:db/ident :match/winner
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Magepuncher who won"
  :db.install/_attribute :db.part/db}
 
 {:db/ident :match/draw
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "There are no winners"
  :db.install/_attribute :db.part/db}

 ;; rounds
 {:db/ident :round/num
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Which round in the match"
  :db.install/_attribute :db.part/db}

 {:db/ident :round/match
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}
 
 ;; moves
 {:db/ident :move/sequence
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "The sequence of attacks for a move, like 'z c h'"
  :db.install/_attribute :db.part/db}

 {:db/ident :move/round
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/ident :move/magepuncher
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "User who is doing the move"
  :db.install/_attribute :db.part/db}

 ;;health
 {:db/ident :health/magepuncher
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Magepuncher"
  :db.install/_attribute :db.part/db}
 {:db/ident :health/match
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Match"
  :db.install/_attribute :db.part/db}
 {:db/ident :health/hp
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "Health points"
  :db.install/_attribute :db.part/db}]
